
@{
    var nome = ViewBag.ClientName;

    var estado = "A decorrer";

    var checkout = Model;


    if (checkout.DeliveryDate != null)
    {
        estado = "Encerrado";

    }
    else if (checkout.ExpectedDate < DateTime.Now)
    {
        estado = "Multa aplicada";
    }

}

<div class="row">
    <div class="col-12">
        <div class="card card-warning" style="margin-top:20px">
            <div class="card-header">
                <div class="card-title">
                    Checkout #@checkout.Id
                </div>
            </div>
        </div>


        <div class="invoice p-3 mb-3">
            <div class="row">
                <div class="col-12">
                    <h4>
                        @nome
                    </h4>
                </div>
            </div>
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    <address>
                        Estado:<strong> @estado </strong><br>
                        Data Requisição: <strong> @checkout.Date </strong><br>
                        Data Pagamento: <strong> @checkout.DeliveryDate </strong> <br>
                        Data Entrega: <strong> @checkout.ExpectedDate </strong><br />
                    </address>
                </div>

            </div>
            <div class="row">
                <div class="col-12 table-responsive">
                    <table id="example2" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id Livro</th>
                                <th>Titulo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var checkoutBook in checkout.CheckoutBooks)
                            {
                                <tr>
                                    <td>@checkoutBook.Book.Id</td>
                                    <td>@checkoutBook.Book.Title</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <p class="lead">Detalhes</p>

                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th style="width:50%">Multa:</th>
                                
                                @if ((checkout.DeliveryDate == null || checkout.DeliveryDate != null) && checkout.ExpectedDate < DateTime.Now)
                                {
                                    <td>5 Euros</td>
                                }
                                else if (checkout.DeliveryDate != null)
                                {
                                    <td>5 Euros</td>
                                }
                                else
                                {
                                    <td>- - -</td>
                                }
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /.col -->
            </div>
        </div>
        <!-- /.invoice -->
    </div><!-- /.col -->
</div>
